# Bonus: Temperature Analysis I

In [36]:
import pandas as pd
from datetime import datetime as dt

In [37]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [70]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df
#print(df)
#print()

print(df.dtypes)

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [42]:
# Set the date column as the DataFrame index
df_date =pd.DataFrame(df,columns=["station", "date", "prcp", "tobs"]).set_index("date")
df_date.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [43]:
print(df_date.dtypes)

station     object
prcp       float64
tobs         int64
dtype: object

In [56]:
# Drop the date column
df2 = df_date.reset_index   #.drop(drop=True,inplace=True)
print(df2)

<bound method DataFrame.reset_index of        level_0  index      station  prcp  tobs
0            0      0  USC00519397  0.08    65
1            1      1  USC00519397  0.00    63
2            2      2  USC00519397  0.00    74
3            3      3  USC00519397  0.00    76
4            4      4  USC00519397   NaN    73
...        ...    ...          ...   ...   ...
19545    19545  19545  USC00516128  0.09    71
19546    19546  19546  USC00516128   NaN    78
19547    19547  19547  USC00516128  0.56    76
19548    19548  19548  USC00516128  0.50    76
19549    19549  19549  USC00516128  0.45    76

[19550 rows x 5 columns]>

### Compare June and December data across all years

In [57]:
from scipy import stats

In [82]:
# Filter data for desired months - June
#df['date'] = pd.to_datetime(df['date'])
df_june = df[(df['date'].dt.month == 6)]
print(df_june)

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[1700 rows x 4 columns]

In [95]:
june = pd.DataFrame(df_june, columns = ["station", "date", "prcp", "tobs"])
june.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [101]:
# Identify the average temperature for June
june["tobs"].mean()

74.94411764705882

In [125]:
#df_dec = (pd.df['date'].dt.month == 12)
#df_dec.head()
dec = df_date[df['date'].dt.month == 12]
dec.head()

Empty DataFrame
Columns: [station, date, prcp, tobs]
Index: []

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature  data

In [126]:
# Run paired t-test
stats.ttest_ind(june['tobs'], dec['tobs'],equal_var=False)

Ttest_indResult(statistic=nan, pvalue=nan)

### Analysis